*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: #fff;
}

header .class-container {
  margin: 0 auto;
  padding: 4px 12px;
  border-bottom: 1px solid #4b4b4b;
  width: 100%;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}

header .class-container .header-title {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

header .class-container .header-navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2rem 1rem;
}

header .class-container .header-navbar ul li {
  list-style-type: none;
}

header .class-container .header-navbar ul li a {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 999px;
  transition: all 0.3s ease;
}

header .class-container .header-navbar ul li a:hover {
  background-color: #4b4b4b;
  color: #f5f5f5;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

main .content .pengalaman {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: start;
  flex-flow: column nowrap;
}

main .content .pengalaman .pengalaman-title {
  font-size: 30px;
  margin: 8px 0 0;
  border-top: 2px solid #f5f5f5;
  width: 500px;
  padding-top: 20px;
}

main .content .pengalaman p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
}

main.page-content {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
}

main .content {
  flex: 1;
  display: flex;
  align-items: start;
}

main .content .personal-information {
  flex: 1 1;
}

main .content .personal-information .personal-image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 20px 0;
}

main .content .personal-information .personal-name {
  font-size: 30px;
  margin: 8px 0 0;
}

main .content .personal-information .personal-info-mini {
  margin-top: 7px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
}

main .content .personal-information p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
  /* max-width: 600px; */
}

ol {
  counter-reset: item;
  margin-left: 20px;
  line-height: 25px;
  font-size: 15px;
}

aside {
  display: flex;
  flex: 1;
  justify-content: center;
  width: max-content;
}

aside .profile-card .profile-image img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 20px 0;
}

h4 {
  font-weight: 400;
}

aside .profile-card .desc {
  line-height: 25px;
}

/* 
main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}
main aside .social-media ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid #4b4b4b;
  margin: auto;
  background-color: #121212;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.1s ease-in-out;
}
main aside .social-media li a:hover {
  color: #4b4b4b;
} */

footer {
  /* flex: 1; */
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 4rem;
  align-items: center;
  display: flex;
}

footer .footer-container {
  font-size: 15px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  header .header-navbar {
    display: none;
  }

  main.page-content .content .personal-information .personal-info-mini {
    flex-direction: column;
    align-items: flex-start;
    line-height: 25px;
  }

  main {
    display: flex;
    flex-flow: column nowrap;
  }

  main aside {
    align-self: stretch;
  }
}
